# Jupyter Notebook
*.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Spyder project settings
*.spyderproject
*.spyproject

# folders
others/

# dataset
dataset/mnist_test.csv
dataset/mnist_train.csv
